.footer {
	flex: 0 0 auto;
	padding: 35px 0;
	background-color: #1c1c1c;

	&__top {
		justify-content: space-between;
		padding-bottom: 40px;
		border-bottom: 1px solid #333333;
	}
	
	&__address {
		font-style: normal;
	}
	
	&__list {
		column-count: 2;
    column-gap: 55px;
	}
	
	&__item {
	}
	
	&__link {
		color: inherit;
	}

	&__btn {
		color: $white;
		background-color: transparent;
		border-color: $white;
	}
	
	&__copyright {
		justify-content: space-between;
		padding-top: 15px;
		color: #8a8a8a;
	}
	
	&__copyright-text {
	}
	
	&__copyright-link {
		text-decoration: underline;
	}
}