.pros {
  padding: 55px 0 80px;
  background-color: $burgundy;

  &__title {
    color: $white;
  }

  &__list {
    @include phone {
      justify-content: center;
    }
  }

  &__item {
    
    @include phone {
      max-width: 100%;
    }
  }
  
  &__pic {

    &--time {
      background-image: url(../../img/pros/clock.svg);
    }

    &--route {
      background-image: url(../../img/pros/location.svg);
    }

    &--secure {
      background-image: url(../../img/pros/shield.svg);
    }

    &--docs {
      background-image: url(../../img/pros/doc.svg);
    }
  }

  &__text {
    margin-right: 5px;
    margin-left: 5px;
  }
}
