.shipping {
  padding: 80px 0 85px;
  background-color: $grey;

  &__list {
    color: $text;
  }

  &__item {
    position: relative;
    
    &::after {
      content: "➝";
      position: absolute;
      top: 15%;
      right: -25px;
      font-size: 24px;
    }

    &:last-child {
      
      &::after {
        display: none;
      }
    }
  }

  &__pic {

    &--list {
      background-image: url(../../img/shipping/request.svg);
    }

    &--contract {
      background-image: url(../../img/shipping/dogovor.svg);
    }

    &--truck {
      width: 70px;
      background-image: url(../../img/shipping/truck.svg);
    }

    &--box {
      background-image: url(../../img/shipping/box.svg);
    }
  }
}
