.shipping {
  padding: 80px 0 85px;
  background-color: $grey;

  @include phone {
    padding: 50px 0;
  }

  &__list {
    color: $text;
  }

  &__item {
    position: relative;

    @include phone {
      margin-left: 20px;
    }
    
    &::after {
      content: "➝";
      position: absolute;
      top: 15%;
      right: -25px;
      font-size: 24px;
    }

    &:last-child {
      
      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: $green;
    text-decoration: underline;

    &:hover {
      color: darken($green, 10%);
    }

    &:focus {
      outline: 1px dashed $green;
      outline-offset: 3px;
    }

    &:visited {
      color: lighten($green, 10%);
    }
  }

  &__pic {

    &--list {
      background-image: url(../../img/shipping/request.svg);
    }

    &--contract {
      background-image: url(../../img/shipping/dogovor.svg);
    }

    &--truck {
      width: 70px;
      background-image: url(../../img/shipping/truck.svg);
    }

    &--box {
      background-image: url(../../img/shipping/box.svg);
    }
  }
}
